// Color

$color-primary: #404040 !default;
$color-secondary: #03E67E !default;

$heading-primary: #FFF;
$heading-secondary: #FFF;

$button-primary: #03E67E !default;
$button-hover: #F23C4F !default;

$color-green: #03E67E !default;
$color-blue: #48F0DF !default;
$color-orange: #FFA35D !default;
$color-red: #F23C4F !default;
$color-dark-grey: #404040 !default;
$color-white: #FFF !default;
$color-black: #000 !default;

// Padding

$spacing-vertical-xl: 2.5em;
$spacing-vertical-lg: 2em;
$spacing-vertical: 1.5em;
$spacing-vertical-sm: 1em;
$spacing-vertical-xs: 0.5em;

$spacing-horizonta-xl: 2.5em;
$spacing-horizonta-lg: 2em;
$spacing-horizonta: 1.5em;
$spacing-horizonta-sm: 1em;
$spacing-horizonta-xs: 0.5em;
